@import "colors";

nav {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;

  a {
    border-bottom: 2px solid $blue;
    color: $black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    text-decoration: none;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
